.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(214, 208, 205);
  font-family: "Hind", sans-serif;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
